* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    padding-bottom: 5%;
    position: relative;
    min-height: 100vh;
}

main {
    margin: 4% 2%;
}

#items-list {
    list-style: none;
    padding-left: 0.1rem;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
}

.img-fluid {
    height: 15rem;
    width: 10rem;
}

.align-items-to-center {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title-message {
    margin-top: 5%;
    font-weight: bold;
}

.symptoms-separator {
    display: flex;
    justify-content: space-between;
}

.action-buttons {
    display: flex;
}

.action-buttons button {
    margin-right: 1rem;
    display: inline-block;
}

footer {
    background-color: #45B6CC;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}
